nav a{
    color: black;
    font-weight: bold;
    
}

nav{
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item{
    width: 60px;
    height: auto;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}


*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: wheat;
}

ul{
    padding-left: 2%;
    list-style-type: square;
}
